<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Soy artista digital y técnica en Artes Digitales, apasionada por crear experiencias visuales que conecten emoción, narrativa y estética. Trabajo con el ecosistema Adobe y otras herramientas audiovisuales para dar vida a proyectos que van desde la edición y animación hasta el diseño visual y la producción de contenido.</p>
      </div>
      <div class="col-lg-4">
        <p>Me inspiran los mundos fantásticos, los juegos de rol y los videojuegos, donde cada detalle cuenta una historia. Busco que cada proyecto refleje una mirada creativa, coherente y visualmente sólida, capaz de dejar una impresión duradera.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
